@import url("/home/muhhae/dotfiles/colorscheme/current.css");

@keyframes blink {
  to {
    color: orange;
  }
}

* {
  outline-style: none;
  border: none;
  font-family:
    Symbols Nerd Font Mono,
    JetBrainsMono Nerd Font Mono;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0;
}

tooltip {
  background: @background;
  padding: 4px;
  border: 1px solid @blue;
  border-radius: 4px;
}

tooltip label {
  padding: 4px;
  color: white;
}

.modules-right {
  padding-top: 5;
  padding-bottom: 5;
  padding-left: 10;
  padding-right: 15;
  border-radius: 0;
  background-color: alpha(@background, 0);
}

.modules-center {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
  background-color: alpha(@background, 0);
}

.modules-left {
  padding-top: 5;
  padding-bottom: 5;
  padding-left: 10;
  padding-right: 15;
  border-radius: 0;
  background-color: alpha(@background, 0);
}

window#waybar {
  border-radius: 0 0 4 4;
  padding-left: 50px;
  padding-right: 50px;
  background-color: alpha(@background, 0.5);
}

#workspaces button:hover {
  box-shadow: none;
  font-weight: bold;
  text-decoration: underline;
  color: @altyellow;
}

#workspaces button.active {
  font-weight: bold;
  text-decoration: underline;
  color: @altyellow;
}

#tray {
  margin-right: 0px;
}

#cpu,
#memory,
#disk {
  margin-left: 0px;
  margin-right: 10px;
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
