@import url("/home/muhhae/dotfiles/colorscheme/current.css");

* {
    /* background: transparent; */
    font-family: Symbols Nerd Font Mono, JetBrains Mono;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 0;
}

tooltip {
    background: @background;
    border: 1px solid @blue;
}

tooltip label {
    color: white;
}

window#waybar {
    border-radius: 0px;
    background-color: alpha(@background, 0.0);
}


#workspaces button {
    background: transparent;
    border-radius: 0px 0px 6px 6px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: 3px solid transparent;
    border-bottom: 0px solid transparent;
    margin-right: 10px;
    margin-left: 3px;
}

#workspaces button:hover {
    background: transparent;
    border-top: 3px solid @border;
}

#workspaces button.active {
    border-top: 3px solid @foreground;
}

#tray {
    margin-right: 0px;
}

#hardware {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#cpu,
#memory,
#disk {
    margin-left: 0px;
    margin-right: 10px;
}

@keyframes blink {
    to {
        color: orange;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
