@import url("/home/muhhae/dotfiles/colorscheme/nord.css");

* {
    font-family: Oxygen;
    font-size: 16px;
}

window {
    border-radius: 10px;
    margin: 0px;
    border: 0px solid @altblack;
    background-color: @black;
}

#input {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: none;
    color: @foreground;
    background-color: @altblack;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @black;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @black;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @foreground;
}

#entry.activatable #text {
    color: @white;
}

#entry>* {
    padding: 5px;
    color: #f8f8f2;
}

#entry:selected {
    border-radius: 20px;
    background-color: @altblack;
}

#entry:selected #text {
    font-style: italic;
    font-weight: bold;
}
